* {
    outline: 2px solid red;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
}

.topBar {
    grid-area: 1 / 2 / 2 / 4;
}

.sideBar {
    grid-area: 1 / 1 / 4 / 1;
}

.taskArea {
    grid-area: 2 / 2 / 4 / 4;
}