@font-face {
    font-family: 'futura';
    src: url('./futura/futur.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    background-color: rgb(2, 196, 245);
    padding: 0;
    margin: 0;
    font-family: futura;
    color: white;
}

.container {
    display: grid;
    height: 100em;
}

.mainArea {
    outline: solid 3px white;
    display: grid;
    grid-area: 1 / 2 / 5 / 6;
}

.heading {
    position: relative;
    left: 10rem;
}

.sidebar {
    grid-area: 1 / 1 / 5 / 2;
}

.topbar {
    grid-area: 1 / 1 / 2 / 6;
}

.taskArea {
    grid-area: 2 / 1 / 20 / 6;
}

.newProjectDialog {
    position: relative;
    left: 20rem;
    width: 10rem;
}

.createTaskDialog {
    position: absolute;
    left: 10rem;
    width: 30rem;
    height: 30rem;
}

.createTaskForm {
    display: grid;
}

#taskDescription {
    height: 10rem;
}

#taskDescription, #taskTitle, #taskDueDate, #taskProject, #projectTitle {
    background-color: white;
    color: black;
}

.taskPreview {
    outline: solid black 2px;
    width: 10rem;
}

.lowPriority, .mediumPriority, .highPriority {
    width: 100%;
    height: 1rem;
}

.lowPriority {
    background-color: green;
}